:host, :root{
    --wb-font-title: "MBCorpo Title","DaimlerCAC-Regular","DaimlerCACArab-Regular",serif;
}

*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Oswald', sans-serif;
}

header{
    padding: 30px 60px;
}

.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu__logo{
    text-decoration: none;
}

.menu__ul{
    list-style-type: none;
    display: flex;
}

.menu__link{
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
}

.menu__link:hover{
    color: #f54b42
}

.menu__li{
    margin-left: 50px;
}

main{
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.car{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.car__card{
    display: flex;
    flex-direction: column;
}

.car__card__bot{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e3e4;
}

.car__main{
    display: flex;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    justify-content: space-between;
    text-decoration: none;
}

.car__main:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.car__main:hover .car__title{
    color: #f54b42
}

.car__image{
    width: 43%;
    height: 100%;
}

.car__image img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.car__info{
    display: flex;
    flex-direction: column;
    padding: 9.15px 15.25px;
    width: 57%;
    height: 100%;
    box-sizing: border-box;
}

.car__title{
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 25px;
    display: block;
    line-height: 90%;
    font-family: var(--wb-font-title);
    transform: scale(1, 1.2);
    letter-spacing: 0.1px;
}

.car__price{
    display: flex;
    align-items: flex-end;
}

.car__price__point{
    color: #797979;
    padding: 2px 8px;
    font-weight: 400;
}

.USD{
    font-size: 23px;
    font-weight: 600;
    color: #3c9806;
}

.UAN{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 2.44px;
}

.car__desc__ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding-right: 100px;
}

.car__desc__left,
.car__desc__right{
    display: flex;
    flex-direction: column;
}

.car__desc__row{
    display: flex;
}

.car__desc__icon{
    width: 18.6px;
    height: 18.6px;
    text-align: center;
    margin-right: 10px;
}

.car__desc__icon img{
    height: 100%;
    width: 100%;
}

.car__desc__li{
    font-size: 15px;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.car__desc__li__last{
    margin-bottom: 0px;
}

.car__desc__add{
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    padding-right: 60px;
}

.car__desc__add p{
    color: #202020;
}

.filter{
    width: 220px;
}

.filter__fieldset{
    border: 0px;
}

.filter__fieldset__title,
.filter__fieldset__main select,
.filter__fieldset__main select option{

}

.filter__fieldset__title{
    margin-bottom: 8px;
    font-size: 24px;
}

.filter__fieldset__main select{
    width: 100%;
    border: 1px solid #cecece;
    box-sizing: border-box;
    padding: 4px 20px 4px 6px;
    height: 32px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.filter__fieldset__main select:hover{
    border: 1px solid #000000;
}

.filter__fieldset__main select option{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5px;
}